*,
*::after,
*::before{
    box-sizing: border-box;
}

 /* Custom Properties */


:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #EDEAE7;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width:943px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



/* General  Styles */

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

section{
    padding: 5em 3em;
}

strong{
    font-weight: var(--fw-bold);
}

/* Typography */

h1,h3,h2{
    margin: 0;
    line-height: 1.4;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

.section__title{
    margin-bottom: 0.125em;
}
.section__title--intro strong{
    display: block;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
background: var(--clr-accent);
font-family: var(--ff-secondary);
margin-bottom: 1em;
}




/* -----------------------Header Section------------- */

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

img{
    width: 10%;
    cursor: pointer;
    min-width: 100px;
}


.nav__list{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.nav__item{
    list-style: none;
}
.nav__item>a{
    text-decoration: none;
    color: rgb(58, 52, 52);
    font-weight: bold;
    white-space:nowrap;
    transform: scale(0);
    transition: translate 0.7s smooth;    
    
}

header>button{
    display: none;
}

.nav__item>a:hover{
    color:#16e0bd;
    transform:scale(0.5em) ;
    font-size: 1.2em;
    text-decoration: underline;
}

@media (max-width:700px){
    header{
        position: relative;
        margin: 0;
        transition: margin 250ms ease-in-out;
    }

    .nav__list{
        display: none;
        position: absolute;
        flex-direction: column;
        gap: 2.8em;
        width: 100%;
        top:100%;
        height: 45vh;
        left: 15px;
        text-align: left;
        margin: 0;
    }


    .nav-toggle{
        display: inline-block;
        border: none;
    }
    .fa{
        border: none;
        outline: none;
        font-size: 1rem;
    }
}



/* --------------------------------Intro-Section------------ */

.intro{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.intro img{
    min-width: 300px;
    margin-right: 1em;
}
.intro p{
    width: 155%;
    margin-left: -15em;
    padding-left: 15em;
}




@media(max-width:1000px){
    .intro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em 0;
        text-align: center;
        gap: 2em;
        
    }

    .intro-content{
        width: 100%;
    }
    .intro-content h1{
        line-height: 1.2;
    }
    .intro img{
        min-width: 300px;
    }
    .intro p{
        margin: 0;
        padding: 0;
        width: 100%;
    }
}


/* -----------------------------Service section------------------------ */

.my-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./img/services-bg.jpg") ;
}

.section__title--services{
    color: #16e0bd;
}

.services{
    color: white;
    margin: 1em 10em;
    text-align: center;
}

.btn{
    background-color: #16e0bd;
    padding: 0.4em 2em;
    text-decoration: none;
    color: black;
    font-weight:var(--fw-bold);
    margin-top: 1em;
    position: relative;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.btn:hover{
    box-shadow: 0px 0px 20px white ;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(1.02);
}

@media (max-width:750px){
    .services{
        margin: 1em 0em;
        padding: 1em 0;
    }
}

/* -----------------------------------About me ------------------- */

.about-me{
    display: flex;
    align-items: center;
    margin: 4em auto;
    background-color: #303030;
    color: white;
    justify-content: space-between;
    
}

.about-me__body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


.section__subtitle--about{
    color: #303030;
    margin-bottom: 0;
}


.description{
    margin-right: 5em;
}

.hide{
    display: none;
}

.about-image{
    width: 20%;
    height: 30%;
}
.about-me img{
    background-color: #c1cbc5;
    border-radius: 39px;
    width: 100%;
    height: 50vh;
    min-width: 200px;
}

@media (max-width:1000px){
    .about-me{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
    }
    .about-me__body{
        justify-content: center;
        align-items: center;
        margin: unset;
        width: 100%;
        gap: 1em;
        padding: 1em 0;
    }
    .about-me__body h2{
        margin: unset;
    }
    .about-me__body p{
        width: 90%;
        margin: unset;
    }
    .about-image{
        display: none;
    }
}

@media (max-width:600px){
    .about-me{
        padding: 0;
    }

    .description:not(.hide){
        display: none;
    }
    .hide{
        display: block;
    }

}
/* ---------------------------------my work section--------------------------- */

.my-work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e;
}
.my-work>h2{
    color: white;
}
.my-work>p{
    color:#16e0bd;
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
}

.portfolio{
    display: grid;
    gap: 2.5em;
    margin:4em auto;
}

.portfolio__item{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom:1em;
    background-color: #303030;
    box-shadow: 0em 0em 0.5em white;
    border: 2px solid white;
    transform: translateY(0px);
    transition: transform 0.2s ease;
}


.portfolio__item:hover{
    transform: translateY(-10px);
}
.portfolio__img{
    width: 100%;
    height: 80%;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 2em; */
}
.links a{
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 0.2em 0.7em;
    border-radius: 10px;
    background: #16e0bd;
    font-weight: var(--fw-bold);
    /* box-shadow: 0em 0em 0.3em white;*/
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
} 
.links a:hover{
    box-shadow: 0px 0px 20px white ;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    transform: scale(1.02);
}

@media (min-width: 700px) {
    .portfolio{ 
        grid-template-columns: repeat(2, 1fr); 
    }
  }
@media (min-width: 1100px) {
    .portfolio{ 
        grid-template-columns: repeat(3, 1fr); 
    }
  }

  @media (max-width:500px){
    .my-work p{
        font-size: 1.2rem;
        text-align: center;
    }

    .links a{
        padding: 0.6em;
        font-size: 0.7rem;
        margin: 1em 0;
    }

    .portfolio__item{
        box-shadow: 0em 0em 0.3em white;
    }
  }


/* ---------------------------------footer section--------------------------- */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141414;
    color: #16e0bd;
    padding-top: 2em;
}

.footer__link{
    color: #16e0bd;
    text-decoration: none;
    font-weight: var(--fw-bold);
    margin-top: 1em;
    font-size: var(--fs-h3);
}

.footer__link:hover{
    color: white;
    text-decoration: underline;
}
.social-list{
    display: flex;
    justify-content: space-around;

}
.social-list a{
    margin: 0em 1em;
    color: #16e0bd;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.social-list a:hover{
    color: white;
    transform: scale(1.5);
}